

.country {
    display: flex;
    grid-template-columns: repeat(2fr, 1fr , 2fr );
    direction: column;
    margin-top: 50px;
    justify-content: space-evenly;
    height: 30%;

    align-items: center;

}
.blog-dis{
    margin-bottom: 60px;

    height:50%;
    margin:0px;
}

.country-name {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.time{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}