@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');



.container{
  
        display: grid;
        justify-items: center;
     
       
  
}

/*      Main Header     */


.header {
    display: flex;
    width: 1321px;
    height: 610px;
    background-color: black;
    border-radius: 30px;
    vertical-align: middle;
}

.header-info {
   
    width: 50%;
    display: grid;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.header-title {
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    margin-right: 100px;
}

.title{
    font-size:60px;
}

.btn-live{
    height: 56px;
    width: 187px;
    left: 246px;
    top: 529px;
    border-radius: 5px;
   background-color: red;
    color:white;
    
}

.btn-live:hover {
    background-color: #3e8e41;
    padding-right: 25px;
    opacity: 1;
    right: 0;
}
.header-image{
 

    height: 613px;
    width: 578px;
    left: 801px;
    top: 83px;
    border-radius: 0px;
    
    height: 646px;
}

.header-image img{
   
    width:100%;
    margin-bottom:0px;
}


/* blog-group */


.blog-group{
   
    width: 1321px;
    display: flex;
    margin-top:120px;
    margin-bottom: 120px;
    border-radius: 5px;
    justify-items: center;
}

.button-three {
    width: 30%;
    display: grid;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin:5px;
    background-color: rgb(0, 0, 0);
    justify-items: center;
    align-items: center;
}

.group-btn {
    
    height: 64px;
    width: 252px;
    left: 170px;
    top: 856px;
   
   
    border-radius: 10px;
}

.group-btn:hover {
    background-color: #3e8e41;
    padding-right: 25px;
    opacity: 1;
    right: 0;
}
.group-btn a{
    text-decoration: none;
       font-weight: 600;
        font-size: 20px;
        color: black;
    
}
#active{
    background-color:red;
    color:white;
}
#active a{
  
    color:white;
}


.blog-list {
    border-radius: 10px;
    width: 75%;
    margin: 2px;
  
   
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.blog{
    
    margin: 5px;
    border: 1px solid #E8E8E8;
border-radius: 10px;
    
 
}
.blog-img img{
    width: 100%;
}

.blog-dis {
    margin-left: 20px;
    margin-bottom: 10px;
}
.blog-btn{
    height: 32px;
    margin-top:10px;
width: 100px;
left: 496px;
top: 1021px;
border-radius: 5px;

}


.blog-name{
    font-family: Poppins;
font-size: 18px;


}

#btn-teb{
 display:none;
    margin-left: 100px;
}

/* footer */

.footer {
    background-color: black;
    color: white;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.footer-grid {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.goal{
    text-align: center;
    font-size: 40px;
}   
.footer-manu {
    display: flex;
    align-items: start;
    align-content: space-around;
    justify-content: space-between;
}
.footer-manu a{
    text-decoration: none;
    color: white;
}
hr{
    border: 1px solid #D1D1D1;
}
.social-icon {

    height: 47px;
    font-size: 47px;
    display: flex;
    margin: 5px;

    padding: 30px;

    justify-content: center;
}

.icon {
    margin: 5px;
}
/* responsive */

@media screen and (max-width: 576px){
  .container{
    display: block;
  }
  .blog-group {
    max-width: 576px;
    display: block;
    width: 100%;
}
    .header {
        display: flex;
     
        width: 100%;
        background-color: black;
        border-radius: 30px;
        height: 570px !important;
      
        align-items: center;

        align-content: flex-end;
        flex-wrap: nowrap;
    }
     .header-info {
        width: 100%;
        display: grid;
        height: 100%;
        justify-items: center;
        align-items: center;
    }
    .button-three {
        display: block;
        width: 50%;
        display: contents;
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
        width: 100%;
    }

     .btn-live {
            align-items: center;
     }
     header.header-top {
        max-width: 576px;
        width: 100%;
    }
    .header {
        display: flex;
        background-color: black;
        border-radius: 30px;
        vertical-align: middle;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .header-title {
        display: block;
        color: white;
        width: 75%;
        align-items: center;
        font-size: 42px;
        margin: auto;
        text-align: center;
    }
    .header-image {
        display: block;
       
    width: 55%;

    }
    .title {
        font-size: 30px;
    }
    h6 {
        font-size: 15px;
    }
.footer-grid {
   margin-top:0;
   margin-bottom:0;
   
}

    /* blog responsive */

    .blog-group {
        max-width: 576px;
        display: block;
        width: 100%;
     
    }
    .group-btn {
        height: 65px;
        width: 100%;
       background-color: none;
        border-radius: 10px;}

    }

    .blog-list {
        border-radius: 10px;
        width: 100%;
    }
    .footer {
        background-color: black;
        color: white;
        width: 100%;}

    .footer-manu {
        display: flex;
        align-items: center;
        align-content: center;
      
        flex-direction: column;
    }
    #alin{
        align-items: center;
    }

    /* -------------------------tab responsive -------------------------------------------------*/

    @media screen and (min-width: 577px) and  (max-width: 767px) { 
        body{
          
            display: block;
        }
        .container{
            display:block;
        }
        .blog-group {
            display: block;
        }
        .button-three{
            background-color: white;
            display: block;
            height:auto;
            width: 48%;
        }

        .group-btn {
            width: 32%;
        }
        .header {
            width: 100%;
           
        }
        .blogs{
            display: grid;
            width: 50%;
            grid-template-columns: repeat(2, 1fr);
            gap: 2px;
        }
        .blog-list {
            border-radius: 10px;
            width: 100%;
        }

        .title {
            font-size: 20px;
        }

        .btn-live {
            height: 35px;
            width: 135px;
            left: 246px;}

            .footer {
                background-color: black;
                color: white;
                width: 100%;
            }
            #btn-teb{
                display: inline;
                   margin-left: 100px;
               }
    }